<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameFirstLower = table.classNameFirstLower>   
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<#macro mapperEl value>${r"#{"}${value}}</#macro>
<mapper namespace="${basepackage}.dao.${className}Dao">

    <resultMap id="voMap" type="${basepackage}.domain.vo.${className}VO" >
        <#list table.columns as column>
        <@excludeDtoIgnoreField column>
        <#if column.sqlTypeName == "DATETIME">
        <result column="${column.sqlName}" jdbcType="TIMESTAMP" property="${column.columnNameLower}" javaType="Long"
                typeHandler="${basepackage}.dao.mybatis.TimestampTypeHandler"/>
        </#if>
        </@excludeDtoIgnoreField>
        </#list>
    </resultMap>

    <select id="pageFind${className}"
            parameterType="${basepackage}.domain.qo.${className}QO"
            resultType="${basepackage}.domain.vo.${className}VO">
    
    </select>

    
</mapper>